.button-container {
	height: 83px;
	display: flex;
	flex: 1 1;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 38px;
	background-color: black;
	color: white;
	border-radius: 30px;
	border: 2px solid white;
	margin: 4px;
	cursor: pointer;
	user-select: none;
}

.button-container:hover {
	background-color: rgb(105, 184, 245);
}

.operator {
	background-color: rgb(23, 207, 81);
}

.operator:hover {
	background-color: rgb(228, 228, 28);
}
